.bg-white {
    background-color: #ffffff;
}

.white {
    color: #ffffff;
}

.bg-blue {
    background-color: #5353f8;
}

.blue {
    color: #5353f8;
}

.bg-yellow {
    background-color: #bebc20;
}

.yellow {
    color: #bebc20;
}

.bg-black {
    background-color: #201e1e;
}

.black {
    color: #201e1e;
}